    body {
        background-color: #f8f8ff;
        font-family: Helvetica, sans-serif;
    }
    
    .div-logo {
        width: 100px;
        height: 55px;
        display: block;
        margin: 0;
        position: relative;
        bottom: 10px;
        left: 50%;
        top: 0px;
        transform: translateX(-50%);
    }
    
    img#logo {
        display: block;
        width: 100%;
        margin: 0;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s;
    }
    
    img#logo:hover {
        transform: rotateY(360deg);
    }
    
    .topnav {
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 10px;
    }
    
    #MenuSuperior {
        text-align: center;
    }
    
    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
    }
    
    .topnav ul li {
        display: inline;
        margin: 32px;
        font-size: 20px;
    }
    
    #Searchbar {
        font-size: 15px;
        border-radius: 20px;
        width: 110px;
        height: 20px;
        text-align: right;
        padding-right: 10px;
    }
    
    input.searchbar:focus {
        outline-width: 0;
    }
    
    .topnav ul li:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    
    a {
        font-size: large;
        margin: 40px;
    }
    
    .topnav input {
        position: fixed;
        right: 50px;
    }
    
    .topnav a:hover {
        cursor: pointer;
    }
    
    .main-banner {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        height: 320px;
        width: 98%;
        background-image: url("Assets/banner-overthink-cjr.jpg");
    }
    
    .disable-select {
        user-select: none;
        /* supported by Chrome and Opera */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
    }
    
    .main-banner-text {
        font-size: 120px;
        text-justify: auto;
    }
    
    .newsletter {
        text-align: center;
        padding: 50px;
    }
    
    .main-text-newsletter {
        font-size: 60px;
    }
    
    .sub-text-newsletter {
        font-size: 12px;
        letter-spacing: 4px;
    }
    
    .inputs {
        padding-top: 50px;
    }
    
    div input {
        font-size: 20px;
    }
    
    .inputs label {
        font-size: 14px;
    }
    
    .submit-button {
        font-size: 16px;
        width: 80px;
        height: 32px;
        border-radius: 20px;
        cursor: pointer;
    }
    
    .submit-button:active {
        background-color: rgb(31, 31, 31);
        color: white;
    }
    
    #Sales {
        cursor: pointer;
    }